<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/elegant-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/slicknav.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="mg/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Home</a></li>
                <li><a href="./shop-grid.html">Shop</a></li>
                <li>
                    <a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free Shipping for all Order of $99</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> HelloWord@gmail.com</li>
                                <li>Dinh dưỡng hợp lý – sức khỏe mỗi ngày</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
                                <a href="https://instagram.com"><i class="fa fa-linkedin"></i></a>
                                <a href="https://pinterest.com"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__auth">

                                @if (Context.User.Identity.IsAuthenticated)
                                {

                                    <a class="nav-item nav-link">Welcome, @User.Claims.Where(m=>m.Type=="given_name").SingleOrDefault().Value.ToString()  @User.Claims.Where(m=>m.Type=="family_name").SingleOrDefault().Value.ToString()</a>
                                    @*<form>
                                        <a type="submit" class="nav-item nav-link" asp-action="Logout">
                                        Logout

                                        <input type="hidden" name="logoutId" value="@User.Claims.ToList()[2].Value" />

                                        </a>
                                        </form>*@
                                    <a href="/login"><i class="fa fa-user"></i> Đăng xuất</a>
                                }
                                else
                                {
                                    <a href="/login"><i class="fa fa-user"></i> Đăng nhập</a>
                                    @*<a href="/login" class="nav-item nav-link">Login</a> *@
                                    <div>
                                        <a asp-controller="Account" asp-action="Register">Register</a>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a asp-page="/Index"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a class="nav-link text-dark" asp-area="" asp-page="/Index">Trang chủ</a></li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-page="/ShopGrid">Sản phẩm</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="ShopGrid?category=Whey Protein">Whey Proteins</a></li>
                                    <li><a href="ShopGrid?category=BCAA Amino Acid">BCAA Amino Acid</a></li>
                                    <li><a href="ShopGrid?category=Pre Workout, Post Workout ">Pre Workout, Post Workout</a></li>
                                    <li><a href="ShopGrid?category=Vitamin - Khoáng chất">Vitamin - Khoáng chất</a></li>
                                    <li><a href="ShopGrid?category=Thực phẩm giảm cân">Thực phẩm giảm cân</a></li>
                                    <li><a href="ShopGrid?category=Phụ kiện">Phụ kiện</a></li>
                                </ul>
                            </li>
                            <li><a asp-page="#">Thương hiệu</a></li>
                            <li><a asp-page="#">Liên hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span>$150.00</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
        <!-- Hero Section Begin -->
        <section class="hero hero-normal">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="hero__categories">
                            <div class="hero__categories__all">
                                <i class="fa fa-bars"></i>
                                <span>Danh mục</span>
                            </div>
                            <ul>
                                <li><a href="ShopGrid?category=Whey Protein">Whey Proteins</a></li>
                                <li><a href="ShopGrid?category=BCAA Amino Acid">BCAA Amino Acid</a></li>
                                <li><a href="ShopGrid?category=Pre Workout, Post Workout ">Pre Workout, Post Workout</a></li>
                                <li><a href="ShopGrid?category=Vitamin - Khoáng chất">Vitamin - Khoáng chất</a></li>
                                <li><a href="ShopGrid?category=Thực phẩm giảm cân">Thực phẩm giảm cân</a></li>
                                <li><a href="ShopGrid?category=Phụ kiện">Phụ kiện</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="hero__search">
                            <div class="hero__search__form">
                                <form action="/ShopGrid" method="get">
                                    @*<div class="hero__search__categories">
                                        Tất cả
                                        <span class="arrow_carrot-down"></span>
                                        </div>*@
                                    <input type="text" name="search" placeholder="Nhập tên sản phẩm muốn tìm ?">
                                    <button type="submit" class="site-btn">Tìm kiếm</button>
                                </form>
                            </div>
                            <div class="hero__search__phone">
                                <div class="hero__search__phone__icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="hero__search__phone__text">
                                    <h5>+84 90 **** ***</h5>
                                    <span>Hỗ trợ 24/7</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero Section End -->
    </header>
    <!-- Header Section End -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Địa chỉ: Ho Chi Minh City</li>
                            <li>Liên hệ: +84 90*******</li>
                            <li>Email: helloWorld@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Thông tin thêm</h6>
                        <ul>
                            <li><a href="#">Về chúng tôi</a></li>
                            <li><a href="#">Về của hàng của chúng tôi</a></li>
                            <li><a href="#">Chính sách của cửa hàng</a></li>
                            <li><a href="#">Thông tin giao hàng</a></li>
                            <li><a href="#">Chính sách cá nhân</a></li>
                            <li><a href="#">Vị trí bản đồ</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Chúng tôi là ai</a></li>
                            <li><a href="#">Các dịch vụ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Đăng ký nhận các thông tin khuyến mãi</h6>
                        <p>Nhập Email để được nhận khuyến mãi mỗi ngày</p>
                        <form action="#">
                            <input type="text" placeholder="Nhập Email">
                            <button type="submit" class="site-btn">Đăng ký</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
                            <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
                            <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
                            <a href="https://pinterest.com"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserve</p>
                        </div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
